<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseAzureServices" value="true"/>
    <add key="DataConnectionString" value="AccountName=onehydra;AccountKey=V4Khi5UBa44FFJYjyn6RsCo4FRVsmKXo4sVKbL/AtXNqT4MQViqPbIPuF+mcYid8/c2pApgoC45oIpqLUD6AAg==;DefaultEndpointsProtocol=https" />
    <add key="AzureSubscriptionId" value="29009093-e055-44c2-9b8b-f93a5159bcd1"/>
    <add key="AzureServiceName" value="onehydraservices"/>
    <add key="OneHydraLogLevel" value="ERROR"/>
  </appSettings>
  <connectionStrings>
    <add name="OneHydra" connectionString="Server=sjgb4do9nz.database.windows.net;initial catalog=OneSearch;User ID=Greenlight@sjgb4do9nz;Password=1poldo1.;Trusted_Connection=False;Persist Security Info=True;" />
    <add name="OneHydraLog" connectionString="Server=osdb-uat-2014.cloudapp.net,57500;Database=JoshTest;User ID=Greenlight;Password=1poldo1.;Trusted_Connection=False;Persist Security Info=True;" />
  </connectionStrings>
</configuration>