<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseAzureServices" value="true" />
    <add key="DataConnectionString" value="AccountName=onehydrauat;AccountKey=gwXvbGMG/a6EetMkQYIm5EpiBXdVGy5zAmRJoT4H/RehYbBMbJUFuIT+R7DUj2aSFs5wg4Odh+kshIsKhO2nug==;DefaultEndpointsProtocol=https"/>
    <add key="AzureSubscriptionId" value="29009093-e055-44c2-9b8b-f93a5159bcd1"/>
    <add key="AzureServiceName" value="onehydraservicesuat"/>
    <add key="OneHydraLogLevel" value="ERROR"/>
  </appSettings>
  <connectionStrings>
    <add name="OneHydra" connectionString="Server=n8lmeuu1fu.database.windows.net;initial catalog=OneSearch_Uat;User ID=Greenlight@n8lmeuu1fu;Password=1poldo1.;Trusted_Connection=False;Persist Security Info=True;"/>
    <add name="OneHydraLog" connectionString="Server=osdb-uat-2014.cloudapp.net,57500;Database=JoshTest;User ID=Greenlight;Password=1poldo1.;Trusted_Connection=False;Persist Security Info=True;" />
  </connectionStrings>
</configuration>